@import '../config';


.coursesContainer {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 35px;
    
    @media (min-width: $breakpoint-tablet) {
        padding: 0px 5%;
    }
    // margin: 100px 0px;
}

.titleContainer {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;


    h1 {
        width: 100%;
        text-align: end;
        margin-bottom: 10px;
        
        @media (min-width: $breakpoint-tablet) {
            text-align: center;
        }
    }
}

.mainContainer {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    

    @media (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
        column-gap: 45px;
    }

    @media (min-width: $breakpoint-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 45px;
    }

    
}

.courseCardContainer {
    width: 100%;
    max-width: 400px;
    min-height: 270px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 40px;
    border-radius: 5px;


    .cardTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .cardIcon {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .cardSubtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }

    h4 {
        font-size: 16.5px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
    }

    .upcoming {
        margin: 20px 0px;
        font-size: 15px;
    }

    .bottomButtons {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        font-size: 15.5px;
        color: white;
        

        .learnBtn  {
            width: 110px;
            font-size: inherit;
            color: inherit;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .registerBtn {
            width: 110px;
            font-size: inherit;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}