@import '../config';
.container {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 35px;

    @media (min-width: $breakpoint-tablet) {
        padding: 60px ;
    }
}

.container1 {
    width: 100%;

    h1 {
        @include courseHeader(start)
    }

    div {
        margin-left: 5px;
        width: 30%;
        height: 3px;
        background-color: $violet;
    }

    @media (min-width: $breakpoint-tablet) {
        @include flexCenter;
        flex-direction: column;
        div {
            margin: 0;
        }
    }
}

.container2 {
    @media (min-width: $breakpoint-laptop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
    
        .benefitContainer {
            padding: 20px;
        }
    }
    
}

.benefitContainer {
    margin-top: 50px;
    padding: 0px 30px 30px 0px;
    box-shadow: rgba(31, 46, 255, 0.15) 2.4px 2.4px 3.2px;
    
    .benefitHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    .benefitHeader .benefitIcon {
        min-width: 27px;
        max-width: 27px;
        margin-right: 20px;
        margin-bottom: 3px;
    }

    .benefitHeader h2 {
        font-size: 19px;
    }

    p {
        font-family: $secondary-font;
        font-size: 17px;
        line-height: 23px;
    }
}