@import '../config';

.teacherCard {
    // position: relative;
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    width: fit-content;

    .line {
        width: 100px;
        height: 2px;
        background-color: $violet;
        margin: 10px 0px;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
    }
}

.imgContainer {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img {
    border-radius: 50%;
}

.teacherCard {
    // max-width: 100%;
    min-width: 100%;
    margin: 10px 0;
    

    @media (min-width: $breakpoint-tablet) {
        // max-height: 160px;
        // min-height: 160px;    
        // margin: 0px;
    }
}

@keyframes shiftUp {
    from {

    }
}


.contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(130, 192, 255, 0.25) 0px 13px 27px -5px, rgba(123, 189, 255, 0.3) 0px 8px 16px -8px;
    z-index: -10;
    padding: 10px;
    overflow: hidden;
    transition: transform 0.5s;
    padding-top: 40px;
    
    ul {
        padding-left: 25px;
        list-style-type: circle;
    }

    ul li {
        margin: 7px 0px;
        padding: 0;
        font-size: 13px;
        font-family: $secondary-font;
    }
}

.headerContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.2s;
    height: 160px;

    .line {
        display: none;
    }

    .imgContainer {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: -15%;
        width: 100px;
        height: 100px;
        transition: 0.2s ease-in-out;
    }

    .titleContainer {
        position: absolute;
        width: 150px;
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: 10%;
        transition: top 0.2s ease-in-out;
        width: 100%;
    }

}

.cardContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    position: relative;
    width: 250px;
    height: 160px;
    transition: all 0.3s;

    @media (max-width: $breakpoint-tablet) {
        width: 90%;
        max-width: 300px;

        .headerContainer .titleContainer h2 {
            font-size: 17px;
        }

        .headerContainer .titleContainer h3 {
            font-size: 15px;
        }
    }
    
    &:hover {
        z-index: 20;
        height: 200px;
        width: 250px;

        @media (max-width: $breakpoint-tablet) {
            width: 90%;
        }

        .headerContainer {
            background-color: $violet;
            height: 150px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .imgContainer {
                height: 75px;
                width: 75px;
                top: 10px;
            }
            
            .titleContainer {
                // bottom: -100%;
                color: white;
            }

            transform: translate(0, -4rem);
        }

        .contentContainer {
            height: 200px;
            transform: translate(0, 1.5rem);
        }
    }
}