@import '../config';

.registerContainer {
    position: absolute;
    height: calc(100% - $navHeight - $popupHeight);
    top: $navHeight + $popupHeight;
    width: 100vw;
    overflow: hidden;
    display: flex;

    .right {
        height: 100%;
        // position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
    }

    @media (min-width: $breakpoint-tablet) {
        display: flex;
        .left {
            width: 50%;
            height: 100%;
            position: relative;

            .imgContainer {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: -1;
                
            }

            .overlay {
                background-color: red;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                @include flexCenter;

                h1 {
                    // text-align: center;
                    line-height: 55px;
                    width: 70%;
                    z-index: 10;
                    color: white;
                    font-size: 300%;
                }
            }
        }    

        .right{
            width: 50%;
            // left: 50%;
            // background-color: green;
            display: flex;
            flex-direction: column;

            .navigateContainer {
                width: 50vw;
            }
        }
    }
}

.contentContainer {
    width: fit-content;
    height: 88%;
    display: flex;
    z-index: 0;
    overflow-y: scroll;
}

.navigateContainer {
    width: 100vw;
    height: 12%;
    z-index: 10;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

    button {
        font-size: 18px;
        color: black;
        margin: 0px;
        cursor: pointer;
    }
}

.progressContainer {
    position: relative;
    width: 250px;
    height: 50px;
    @include flexCenter;

    .circleIncomplete {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: lighten($salmon, 20%);
        transition: transform 0.2s;
    }

    .circleOngoing {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: lighten($salmon, 15%);
        transition: transform 0.2s;
    }

    .circle {
        width: 15px;
        height: 15px;
        background-color: $salmon;
        border-radius: 50%;
        transition: transform 0.2s
    }

    

    .active {
        transform: scale(1.5);
        background-color: lighten($salmon, 5%);
    }

    

    .line {
        height: 3px;
        width: 50px;
        background-color: lighten($salmon, 20%);
    }

    .line.complete {
        background-color: $salmon;
    }
}