// FONTS
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Work Sans', sans-serif;

// DIMENSIONS
$breakpoint-mobile: 481px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 950px;
$breakpoint-desktop: 1025px;
$breakpoint-thin: 380px;

$popupHeight: 0px;
$navHeight: 80px;
$pageHeight: calc(100vh - $navHeight);

// COLORS
$violet: #8F90F7;
$salmon: #FF9D87;
$blue: #75B8FF;
$light-blue: #BCEAFF;
$navBg: #FFFDFD;
$dark-blue: #355C92;
$error: #FE0100;

$homeBackground: #FFFDFD;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pageContainer {
    top: $navHeight;
    height: $pageHeight;
    width: 100%;
    overflow: auto;
}

@mixin sectionSize {
    height: $pageHeight;
    width: 100%;
}

@mixin headerLine($width) {
    position: absolute;
    width: $width;
    margin-top: 15px;
    background-color: $violet;
    height: 3px;
    border-radius: 1.5px;
}

@mixin courseHeader($text-align) {
    color: $violet;
    margin-bottom: 10px;
    text-align: $text-align;

    @media(max-width: $breakpoint-thin) {
        font-size: 25px;
    }
}